[user]
	email = psiegel@gravisrobotics.com
	name = Peter Siegel
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILbpVGiNHDh1CGXRMP72ZMGLPFSmHau8ODKU2ev1Zfc0
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
